@use "../abstracts";

.checkout-page {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    color: var(--checkout-page-color);

    &__breadcrumbs {
        background-color: var(--checkout-page-bg);
    }
}

.checkout-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.cart-info {
    & + & {
        margin-top: 30px;
    }

    &__btn-checkout {
        @include abstracts.screen(md) {
            width: 100%;
        }
    }

    &__form--wrap {
        margin: 30px 0;
        border-radius: 10px;
        border: 1px solid var(--forms-border-color);
    }

    &__separate--vertical {
        flex: inherit;
        width: 1px;
        height: 26px;
        background-color: var(--forms-border-color);
    }

    &__group {
        margin-top: 0;
    }

    &__text-input {
        border: none;
    }

    &__top {
        padding-top: 20px;
    }

    padding: 0 30px 30px;
    background-color: var(--checkout-page-bg);
    border-radius: 20px;
    box-shadow: 0px 20px 60px 10px var(--checkout-page-cart-shadow);

    @include abstracts.screen(md) {
        padding: 0 20px 20px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        padding-top: 30px;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }

    &__list {
    }

    &__sub-label {
        font-weight: 400;
    }

    &__right {
        padding-top: 30px;

        @include abstracts.screen(xl) {
            margin-top: 30px;
        }
    }

    &__right + &__right {
        margin-top: 30px;
    }

    &__bottom {
        padding-top: 30px;

        @include abstracts.screen(md) {
            border-top: 1px solid var(--cart-item-border-color);
        }
    }

    &__next-btn {
        margin-top: 30px;

        @include abstracts.screen(xl) {
            margin-left: auto;
            margin-right: auto;
            width: min(360px, 100%);
        }
    }

    &__continue {
        height: 100%;
        display: flex;
        &-link {
            gap: 10px;
            align-self: flex-end;
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }

        &-icon {
            rotate: 90deg;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        gap: 0;
        align-items: center;

        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 145.455%;
        }

        @include abstracts.screen(md) {
            flex-direction: row;
        }

        &-md--block {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: start;
                row-gap: 30px;
            }
        }
    }

    &__row + &__row {
        margin-top: 10px;
    }

    &__separate {
        margin: 30px 0;
        height: 1px;
        background: var(--cart-item-border-color);
    }

    &__edit-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            margin-left: 8px;
        }
    }

    &__sub-heading {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__checkbox {
        &-input {
            &:not(:checked)::before {
                filter: var(--icon-color);
            }
            appearance: none;
            &::before {
                content: url("../../assets/icons/checkbox-uncheck.svg");
            }

            &:checked:before {
                content: url("../../assets/icons/checkbox-checked.svg");
            }
        }
    }

    &__cta {
        display: flex;
        justify-content: flex-end;

        @include abstracts.screen(md) {
            width: 100%;
        }
    }

    &__check-all {
        margin: 15px 0;
    }

    &__back-arrow {
        padding-right: 10px;
    }
}

.cart-item {
    padding: 30px 0;
    display: flex;
    border-bottom: 1px solid var(--cart-item-border-color);

    @include abstracts.screen(xxl) {
    }

    @include abstracts.screen(md) {
        padding: 20px 0;
    }

    &__checkout-btn {
        @include abstracts.screen(md) {
            width: 200px;
        }

        @include abstracts.screen(sm) {
            width: 150px;
        }
    }

    &:last-child {
        @include abstracts.screen(md) {
            border: none;
        }
    }

    &__thumb {
        width: 172px;
        height: 172px;
        margin: 0 30px 0 20px;
        object-fit: contain;

        @include abstracts.screen(xl) {
            width: 150px;
            height: 150px;
        }

        @include abstracts.screen(lg) {
            margin: 0 20px 0 16px;
            width: 100px;
            height: 100px;
        }

        @include abstracts.screen(sm) {
            width: 60px;
            height: 60px;
        }
    }

    &__content {
        flex: 1;
        display: flex;

        @include abstracts.screen(md) {
            flex-direction: column;
        }

        &-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @include abstracts.screen(md) {
                margin-top: 16px;
                align-items: flex-start;
            }
        }
    }

    &__title {
        max-width: 360px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__price-wrap {
        margin-top: 26px;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__status {
        color: #67b044;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__ctrl {
        margin-top: 16px;
        display: flex;
        gap: 20px;
        align-items: center;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
        }

        &--wrap {
            display: flex;
            gap: 30px;

            @include abstracts.screen(xl) {
                gap: 20px;
            }

            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: start;
            }
        }

        &-md {
            margin-top: 0;
        }

        &-bottom {
            gap: 25px;
            margin-top: 98px;

            @include abstracts.screen(xxl) {
                gap: 20px;
            }

            @include abstracts.screen(md) {
                margin-top: 16px;
                display: flex;
                flex-direction: row;
            }

            &--md {
                margin-top: 88px;

                @include abstracts.screen(lg) {
                    margin-top: auto;
                }

                @include abstracts.screen(md) {
                    margin-top: 20px;
                }
            }
        }

        &--md-block {
            gap: 25px;

            @include abstracts.screen(lg) {
                flex-direction: column;
                align-items: start;
            }
        }
    }

    &__input {
        padding: 10px 20px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 10px;
        border: 1px solid #d2d1d6;
    }

    &__input-btn {
        display: flex;
        align-items: center;
    }

    &__total-price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
    }

    &__ctrl-btn {
        display: flex;
        color: #9e9da8;
        gap: 10px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }
}

.gift-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__icon-wrap {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 76px;
        height: 76px;
        border-radius: 14px;
        background: var(--checkout-page-gift-bg);
        box-shadow: var(--checkout-page-gift-shadow);
    }

    &__icon {
        width: 56px;
        height: 56px;
        display: block;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
        margin-top: 10px;
    }
}

.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(md) {
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }

    &__btn {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__message {
        margin-top: 20px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
}

.address-card {
    margin-top: 30px;
    display: flex;
    align-items: flex-end;

    @include abstracts.screen(md) {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    &__left {
        flex: 1;
        display: flex;
        gap: 16px;
    }

    &__info {
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        width: min(520px, 90%);
        margin-top: 4px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }

    &__list {
        display: flex;
        margin-top: 20px;
        list-style: disc inside;
        gap: 30px;

        @include abstracts.screen(md) {
            flex-wrap: wrap;
            gap: 20px;
        }

        @include abstracts.screen(md) {
            gap: 16px;
        }

        &-item {
            margin-left: 8px;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 142.857%;
        }
    }

    &__right {
    }

    &__ctrl {
    }
}
