@use "../abstracts";

.payment {
    &__heading {
        font-size: 2.2rem;
        padding: 0;
    }

    &__sub-heading {
        font-size: 1.8rem;
        line-height: 144.444%;
        padding: 0;
    }
    &__separate {
        @include abstracts.screen(md) {
            margin: 20px 0;
        }
    }
}

.payment-item {
    display: flex;
    align-items: center;

    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    background: var(--payment-item-bg-color);
    gap: 20px;

    @include abstracts.screen(md) {
        padding: 16px;
        margin-top: 20px;
    }

    @include abstracts.screen(sm) {
        gap: 16px;
        align-items: flex-start;
    }

    &__center {
        align-items: center;
    }

    &__pointer {
        cursor: pointer;
    }

    &__thumb {
        width: 70px;
        height: 53px;
        object-fit: cover;
    }

    &__wrap {
        flex: 1;
        display: flex;
        gap: 20px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__content {
        flex: 1;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;

        &--low {
            color: #9e9da8;
        }
    }

    &__detail {
        font-size: 1.5rem;
        line-height: 146.667%;
        color: #0071dc;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 14px;
        font-size: 1.8rem;
        color: #9e9da8;
        font-weight: 500;

        &:has(:checked) {
            color: var(--payment-item-checked) #1a162e;
        }

        @include abstracts.screen(sm) {
            gap: 8px;
        }
    }
}
