@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(292deg)
        brightness(109%) contrast(103%);

    // Header Color
    --header-bg-color: #171c28;
    --body-bg-color: #292e39;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Dropdown color
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(6%) saturate(1793%) hue-rotate(186deg)
        brightness(97%) contrast(91%);
    --top-menu-border-color: #171c28;
    --menu-item-icon-color: brightness(0) saturate(100%) invert(99%) sepia(10%) saturate(604%) hue-rotate(245deg)
        brightness(102%) contrast(95%);

    // sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    // category item
    --cate-item-background: #171c28;
    --cate-item0-thumb-bg: #292e39;
    --cate-item-title-color: #fff;
    --cate-item-desc-color: #fff;

    // Btn
    --filter-btn-color: #fff;
    --filter-btn-bg-color: #171c28;
    --like-btn-shadow: rgba(0, 0, 0, 0.2);

    // filter
    --filter-bg-color: #2f3441;
    --filter-box-shadow: rgba(0, 0, 0, 0.4);
    --form-heading-color: #fff;
    --filter-slider-bg: #d2d1d6;
    --filter-separate-bg-color: #eee;
    --filter-input-color: #fff;
    --form-button-color: #9e9da8;
    --form-button-bg-color: #171c28;
    --filter-form-arrow-color: var(--dropdown-arrow-color);

    // product card
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);
    --like-btn-bg: #292e39;
    --product-card-title-color: #fff;
    --product-card-branch-color: #9e9da8;
    --product-card-price-color: #fff;

    // footer
    --footer-text-color: #9e9da8;

    // auth
    --auth-intro-bg-color: #171c28;
    --auth-intro-text-color: #b9babe;
    --auth-content-bg-color: #292e39;
    --auth-heading-color: #b9babe;

    // forms
    --forms-border-color: #b9babe;
    --forms-checkbox-color: #b9babe;

    // product detail
    --product-detail-bg: #292e39;
    --prod-info-bg: #171c28;
    --prod-info-heading-color: #eee;
    --prod-prop-title-color: #eee;
    --prod-card-color: #eee;

    // breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);
    --breadcrumbs-text-color: #9e9da8;

    // search bar
    --search-bar-background: #171c28;

    // Preview
    --review-card-bg: #171c28;
    --tex-content-hr-color: rgba(172, 172, 172, 0.5);

    // --act-dropdown
    --act-dropdown-bg: #292e39;
    --act-dropdown-shadow: rgba(23, 28, 40, 0.4);
    --act-dropdown-color: #b9babe;
    --act-dropdown-border-color: #171c28;
    --act-dropdown-arrow-color: var(--act-dropdown-bg);

    @include abstracts.screen(md) {
        --prod-tag-bg: #292e39;
        --prod-info-container-bg: #171c28;
        --prod-preview-bg: #171c28;
    }
}
