@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(15%) saturate(2317%) hue-rotate(210deg) brightness(98%)
        contrast(96%);

    // Header Color
    --header-bg-color: #eee;
    --body-bg-color: #f6f6f6;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Dropdown color
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(91%) sepia(100%) saturate(38%) hue-rotate(284deg)
        brightness(109%) contrast(111%);
    --top-menu-border-color: #d2d1d6;
    --menu-item-icon-color: brightness(0) saturate(100%) invert(8%) sepia(15%) saturate(2317%) hue-rotate(210deg)
        brightness(98%) contrast(96%);

    // sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // category item
    --cate-item-background: #eee;
    --cate-item0-thumb-bg: #fff;
    --cate-item-title-color: #000;
    --cate-item-desc-color: #1a162e;

    // btn
    --filter-btn-color: #6c6c72;
    --filter-btn-bg-color: #fff;
    --like-btn-shadow: rgba(200, 200, 200, 0.4);

    // filter
    --filter-bg-color: #fff;
    --filter-box-shadow: rgba(0, 0, 0, 0.4);
    --form-heading-color: #1a162e;
    --filter-slider-bg: #d2d1d6;
    --filter-separate-bg-color: #eee;
    --filter-input-color: #1a162e;
    --form-button-color: #9e9da8;
    --form-button-bg-color: #f8f8fb;

    // product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);
    --like-btn-bg: #fff;
    --product-card-title-color: #1a162e;
    --product-card-branch-color: #9e9da8;
    --product-card-price-color: #1a162e;

    // footer
    --footer-text-color: #9e9da8;

    // auth
    --auth-intro-bg-color: #fafafd;
    --auth-intro-text-color: #1a162e;
    --auth-content-bg-color: #fff;
    --auth-heading-color: #1a162e;
    --auth-desc-color: #9e9da8;

    // forms
    --forms-border-color: #d2d1d6;
    --forms-checkbox-color: #9e9da8;
    --forms-select-dialog-shadow: rgba($color: #000000, $alpha: 0.15);
    --forms-select-dialog-bg: #fff;
    --forms-select-dialog-text-hover-color: #292e39;
    --forms-select-dialog-text-hover-bg: #ebebeb;

    // product detail
    --product-detail-bg: #fff;
    --prod-info-bg: #f6f6f6;
    --prod-info-heading-color: #1a162e;
    --prod-prop-title-color: #1a162e;
    --prod-card-color: #000;

    // breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);
    --breadcrumbs-text-color: #9e9da8;

    // search bar
    --search-bar-background: #fff;

    // Preview
    --review-card-bg: #fafafd;
    --tex-content-hr-color: #ebebeb;

    // --act-dropdown
    --act-dropdown-bg: #fff;
    --act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --act-dropdown-color: #1a162e;
    --act-dropdown-border-color: #d2d1d6;
    --act-dropdown-arrow-color: var(--act-dropdown-bg);

    // checkout page
    --checkout-page-bg: #fff;
    --checkout-page-cart-shadow: rgba(237, 237, 246, 0.2);
    --checkout-page-gift-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), #7644e1;
    --checkout-page-gift-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --cart-item-border-color: #d2d1d6;

    @include abstracts.screen(md) {
        --prod-tag-bg: #ededf6;
        --cate-item-background: #fff;
        --auth-intro-bg-color: #fff;
        --product-detail-bg: #fafafd;
        --breadcrumbs-bg: #fff;
        --prod-info-bg: #fff;
        --prod-info-container-bg: #fff;
        --review-card-bg: #fff;
    }
}
