@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(15%) saturate(2317%) hue-rotate(210deg) brightness(98%)
        contrast(96%);

    // Header Color
    --header-bg-color: #eee;
    --body-bg-color: #f6f6f6;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Dropdown color
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(91%) sepia(100%) saturate(38%) hue-rotate(284deg)
        brightness(109%) contrast(111%);
    --top-menu-border-color: #d2d1d6;
    --menu-item-icon-color: brightness(0) saturate(100%) invert(8%) sepia(15%) saturate(2317%) hue-rotate(210deg)
        brightness(98%) contrast(96%);

    // sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // category item
    --cate-item-background: #eee;
    --cate-item0-thumb-bg: #fff;
    --cate-item-title-color: #000;
    --cate-item-desc-color: #1a162e;

    @include abstracts.screen(md) {
        --cate-item-background: #fff;
    }

    // btn
    --filter-btn-color: #6c6c72;
    --filter-btn-bg-color: #fff;
    --like-btn-shadow: rgba(200, 200, 200, 0.4);

    // filter
    --filter-bg-color: #fff;
    --filter-box-shadow: rgba(0, 0, 0, 0.4);
    --filter-heading-color: #1a162e;
    --filter-slider-bg: #d2d1d6;

    // product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);
    --like-btn-bg: #fff;
    --product-card-title-color: #1a162e;
    --product-card-branch-color: #9e9da8;
    --product-card-price-color: #1a162e;
}
