@use "../abstracts";
.dropdown {
    position: absolute;
    width: min(1240px, 100%);
    left: 0;
    padding-top: 54px;
    display: none;

    @include abstracts.screen(lg) {
        position: initial;
        padding-top: 0;
    }

    &__inner {
        --inner-padding: 30px;

        position: relative;
        max-height: var(--inner-max-height);
        padding: var(--inner-padding);
        border-radius: 20px;
        background-color: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            position: absolute;
            content: url("../icons/dropdown-arrow.svg");
            top: -13px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
            filter: var(--dropdown-arrow-color);
        }

        @include abstracts.screen(lg) {
            display: block;
            background: transparent;
            box-shadow: none;
            padding: 0 40px;

            &::before {
                content: none;
            }
        }

        @include abstracts.screen(md) {
            padding: 0 40px;
        }

        @include abstracts.screen(sm) {
            padding: 0 20px;
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
    position: relative;

    &__main {
        height: var(--max-inner-height);
        width: var(--main-column-width);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;

        @include abstracts.screen(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 22px;
    }

    @include abstracts.screen(lg) {
        margin-top: 10px;
        width: 100%;
    }

    &__icon {
        position: relative;
        width: 36px;
        height: 36px;
        flex-shrink: 0;

        @include abstracts.screen(xl) {
            display: none;
        }
        @include abstracts.screen(lg) {
            display: block;
        }
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        width: 24px;
        height: 24px;
        object-fit: contain;
        bottom: 0;
        right: 0;
        filter: var(--menu-item-icon-color);
    }

    &__heading {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 30px;

        @include abstracts.screen(lg) {
            display: block;
            padding-bottom: 12px;
        }
    }

    &__list {
        margin-top: 12px;

        @include abstracts.screen(lg) {
            margin-top: 0;
        }
    }

    &__item {
        &--active .sub-menu {
            display: flex;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 1.41;
    }
}

.sub-menu {
    display: none;
    padding-left: var(--inner-padding);
    position: absolute;
    inset: 0 0 0 var(--main-column-width);
    overflow-y: auto;

    @include abstracts.screen(lg) {
        position: initial;
        padding-left: 0;
        max-width: 100%;
    }

    &--not-main {
        height: var(--max-inner-height);
        display: flex;
        position: initial;
        inset: initial;
        padding-left: 0;

        @include abstracts.screen(lg) {
            height: auto;
        }
    }
}
