@use "../abstracts";

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, "sans-serif";
    color: var(--text-color);
    background: var(--body-bg-color);
}
a,
button,
input,
select,
textarea {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.icon {
    filter: var(--icon-color);
}

.container {
    @include abstracts.screen(sm) {
        padding: 0 20px !important;
    }
}
